In [1]:
import pandas as pd
import numpy as np

# Relative path to the dataset
file_path_Alzheimer = "../Dataset/alzheimers_disease_data.csv"
file_path_Parkinson = "../Dataset/parkinsons_disease_data.csv"

# Load the dataset
data_Alzheimer = pd.read_csv(file_path_Alzheimer)
data_Parkinson = pd.read_csv(file_path_Parkinson)

print(data_Alzheimer.info()) ## Check if there's any Null Info and check variable type.
print(data_Parkinson.info()) ## Check if there's any Null Info and check variable type.

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2149 entries, 0 to 2148
Data columns (total 35 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   PatientID                  2149 non-null   int64
 1   Age                        2149 non-null   int64
 2   Gender                     2149 non-null   int64
 3   Ethnicity                  2149 non-null   int64
 4   EducationLevel             2149 non-null   int64
 5   BMI                        2149 non-null   float64
 6   Smoking                    2149 non-null   int64
 7   AlcoholConsumption         2149 non-null   float64
 8   PhysicalActivity           2149 non-null   float64
 9   DietQuality                2149 non-null   float64
 10  SleepQuality               2149 non-null   float64
 11  FamilyHistoryAlzheimers    2149 non-null   int64
 12  CardiovascularDisease      2149 non-null   int64
 13  Diabetes                   2149 non-null   int64
 14  Depression                 2149 non-null   int64
 15  HeadInjury                 2149 non-null   int64
 16  Hypertension               2149 non-null   int64
 17  SystolicBP                 2149 non-null   int64
 18  DiastolicBP                2149 non-null   int64
 19  CholesterolTotal           2149 non-null   float64
 20  CholesterolLDL             2149 non-null   float64
 21  CholesterolHDL             2149 non-null   float64
 22  CholesterolTriglycerides   2149 non-null   float64
 23  MMSE                       2149 non-null   float64
 24  FunctionalAssessment       2149 non-null   float64
 25  MemoryComplaints           2149 non-null   int64
 26  BehavioralProblems         2149 non-null   int64
 27  ADL                        2149 non-null   float64
 28  Confusion                  2149 non-null   int64
 29  Disorientation             2149 non-null   int64
 30  PersonalityChanges         2149 non-null   int64
 31  DifficultyCompletingTasks  2149 non-null   int64
 32  Forgetfulness              2149 non-null   int64
 33  Diagnosis                  2149 non-null   int64
 34  DoctorInCharge             2149 non-null   object
dtypes: float64(12), int64(22), object(1)
memory usage: 587.7+ KB
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2105 entries, 0 to 2104
Data columns (total 35 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   PatientID                 2105 non-null   int64
 1   Age                       2105 non-null   int64
 2   Gender                    2105 non-null   int64
 3   Ethnicity                 2105 non-null   int64
 4   EducationLevel            2105 non-null   int64
 5   BMI                       2105 non-null   float64
 6   Smoking                   2105 non-null   int64
 7   AlcoholConsumption        2105 non-null   float64
 8   PhysicalActivity          2105 non-null   float64
 9   DietQuality               2105 non-null   float64
 10  SleepQuality              2105 non-null   float64
 11  FamilyHistoryParkinsons   2105 non-null   int64
 12  TraumaticBrainInjury      2105 non-null   int64
 13  Hypertension              2105 non-null   int64
 14  Diabetes                  2105 non-null   int64
 15  Depression                2105 non-null   int64
 16  Stroke                    2105 non-null   int64
 17  SystolicBP                2105 non-null   int64
 18  DiastolicBP               2105 non-null   int64
 19  CholesterolTotal          2105 non-null   float64
 20  CholesterolLDL            2105 non-null   float64
 21  CholesterolHDL            2105 non-null   float64
 22  CholesterolTriglycerides  2105 non-null   float64
 23  UPDRS                     2105 non-null   float64
 24  MoCA                      2105 non-null   float64
 25  FunctionalAssessment      2105 non-null   float64
 26  Tremor                    2105 non-null   int64
 27  Rigidity                  2105 non-null   int64
 28  Bradykinesia              2105 non-null   int64
 29  PosturalInstability       2105 non-null   int64
 30  SpeechProblems            2105 non-null   int64
 31  SleepDisorders            2105 non-null   int64
 32  Constipation              2105 non-null   int64
 33  Diagnosis                 2105 non-null   int64
 34  DoctorInCharge            2105 non-null   object
dtypes: float64(12), int64(22), object(1)
memory usage: 575.7+ KB
None

In [2]:
## Cleaning Data

## Removing Education Level and DoctorInCharge Variables
## Alzheimer Dataset
del data_Alzheimer['DoctorInCharge']
del data_Alzheimer['EducationLevel']
## Parkinson Dataset
del data_Parkinson['DoctorInCharge']
del data_Parkinson['EducationLevel']

In [3]:
print(data_Parkinson.Gender)

0       0
1       0
2       1
3       0
4       0
       ..
2100    1
2101    0
2102    0
2103    1
2104    0
Name: Gender, Length: 2105, dtype: int64

In [4]:
from sklearn.model_selection import train_test_split

X = data_Alzheimer.drop(columns=['Diagnosis'])
y = data_Alzheimer['Diagnosis']

X.head()

,PatientID,Age,Gender,Ethnicity,BMI,Smoking,AlcoholConsumption,PhysicalActivity,DietQuality,SleepQuality,...,MMSE,FunctionalAssessment,MemoryComplaints,BehavioralProblems,ADL,Confusion,Disorientation,PersonalityChanges,DifficultyCompletingTasks,Forgetfulness
0,4751,73,0,0,22.927749,0,13.297218,6.327112,1.347214,9.025679,...,21.463532,6.518877,0,0,1.725883,0,0,0,1,0
1,4752,89,0,0,26.827681,0,4.542524,7.619885,0.518767,7.151293,...,20.613267,7.118696,0,0,2.592424,0,0,0,0,1
2,4753,73,0,3,17.795882,0,19.555085,7.844988,1.826335,9.673574,...,7.356249,5.895077,0,0,7.119548,0,1,0,1,0
3,4754,74,1,0,33.800817,1,12.209266,8.428001,7.435604,8.392554,...,13.991127,8.965106,0,1,6.481226,0,0,0,0,0
4,4755,89,0,0,20.716974,0,18.454356,6.310461,0.795498,5.597238,...,13.517609,6.045039,0,0,0.014691,0,0,1,1,0

In [5]:
X.shape

(2149, 32)

In [10]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2) ## Split the data into training data and test data

## We do this because we don't want our algorithm to learn based on the entire dataset, we need some outside data that has been unseen like
## real life world scenario so it generalizes well the data

## Normally, it's 80/20 split, but there's also 70/30.

y_train.head()

1416    1
1939    0
447     1
510     0
2024    1
Name: Diagnosis, dtype: int64